/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.search{
  background-color: transparent;
  border: 2px solid white;
  padding:0.5rem 1rem;
  border-radius: 20px;
  margin: 0.4rem;
  width: 50px;
}

.search:focus{
  outline:0;
}

header {
  display:flex;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color:#0f161f;
}
.active{
  justify-content: flex-start;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover {
  background-color: #111;
}

.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #8a0000;
}

.container {
  width: 1170px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  background-color:#8a0000;
}

.jumbotron h1 { 
  text-align: center; /* centers the heading */
  color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.jumbotron p{
  text-align: center;
  color: white;
  font-size: 20px;
}

.filtering{
  justify-content: center;
}

.cards-wrapper{
 display: grid;
  padding: 10px;
  column-gap: 5px;
 
}

.grid-container{
  width:450px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  background-color: grey;
  position:relative;
  overflow: hidden;
  display: inline-block;
}

.grid-container img{
   width:100%;
 }

@media screen and (min-width: 790px){
  .cards-wrapper-index{
  grid-template-columns:1fr 1fr;
 }
.cards-wrapper-index2{
  grid-template-columns:1fr 1fr;
 }
 .cards-wrapper-index3{
  grid-template-columns:1fr 1fr;
 }
  .cards-wrapper{
   grid-template-columns:1fr 1fr;
 }
}



@media screen and (min-width: 1034px) {
  /* @tablet screen */
  .cards-wrapper-index{
  grid-template-columns:1fr 1fr 1fr;
 }
.cards-wrapper-index2{
  grid-template-columns:1fr 1fr 1fr;
 }
 .cards-wrapper-index3{
  grid-template-columns:1fr 1fr 1fr;
 }

}


@media screen and (min-width: 1434px) {
   .cards-wrapper{
   grid-template-columns:1fr 1fr 1fr;
 }
}


@media screen and (min-width: 1708px) {
/* @desktop screen */
.cards-wrapper-index{
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
 }
.cards-wrapper-index2{
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
 }
 .cards-wrapper-index3{
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
 }
}




 h1{
  text-align: center;
}
  h2{
    text-align:center;
  }
  
  body{
    text-align: center;
    background-color: #e6e6e6;
  }
 
 .content{
   background-color: grey;
 }
 
 .content img {
    height: 75px;
    width: 75px;
    float: none;
}
 /*=================================================================
   movie.html
   ==================================================================
 */
 
 .filtering {
   margin-right: 12px;
   padding: 4px 10px 4px 10px;
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
 }
 
 .filtering[letter="All"] {
   font-weight: bold;
 }
 
 
.cards-wrapper-index{
 display: grid;
  padding: 10px;
  column-gap: 5px;
  margin: 1rem;
  justify-content: center;
}


.movie{
  width:300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  background-color: grey;
  position:relative;
  overflow: hidden;
 
  
}

.movie img{
   width:100%;
 }

.movie-info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 1rem 1rem;
  letter-spacing:0.5px;
}

.movie-info h3{
  margin-top:0;
}

.movie-info span{
  background-color:#c6c9cf ;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight:bold;
}

.movie-info span.green{
  color:black;
}

.overview{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:white;
  padding:1rem;
  max-height:100%;
  transform:translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview{
  transform:translateY(0);
}

/*================================================
  Actors CSS
 =================================================
*/
.cards-wrapper-index2{
 display: grid;
  padding: 10px;
  column-gap: 5px;
  justify-content: center;
}

.actor{
  width:300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  background-color: grey;
  position:relative;
  overflow: hidden;
  
}

.actor img{
   width:100%;
 }

.actor-info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 1rem 1rem;
  letter-spacing:0.5px;
}

.actor-info h3{
  margin-top:0;
}

.actor-info span{
  background-color:#c6c9cf ;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight:bold;
}

.actor-info span.green{
  color:black;
}



.biography{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:white;
  padding:1rem;
  max-height:100%;
  transform:translateY(101%);
  transition: transform 0.3s ease-in;
  overflow-y: scroll;
}

.biography h3 h4 h5 {
  margin-top: 0;
}

.actor:hover .biography{
  transform:translateY(0);
}

/*================================================
  Actresses CSS
 =================================================
*/
.cards-wrapper-index3{
 display: grid;
  padding: 10px;
  column-gap: 5px;
  justify-content: center;
}

.actress{
  width:300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  background-color: grey;
  position:relative;
  overflow: hidden;
  
}

.actress img{
   width:100%;
 }

.actress-info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 1rem 1rem;
  letter-spacing:0.5px;
}

.actress-info h3{
  margin-top:0;
}

.actress-info span{
  background-color:#c6c9cf ;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight:bold;
}

.actress-info span.green{
  color:black;
}


.biography{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:white;
  padding:1rem;
  max-height:100%;
  transform:translateY(101%);
  transition: transform 0.3s ease-in;
  overflow-y: scroll;
}

.biography h3 h4 h5 {
  margin-top: 0;
}

.actress:hover .biography{
  transform:translateY(0);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

